
<div class="container">

  <div class="index-container">

    <div class="row">

      <div class="col-md-3"> <%= render partial: 'shared/sidenav' %></div>
      <div class="col-md-9 offset-md-3"> <%= render partial: 'shared/userprofilenav' %> </div>
      <div class="col-md-9 offset-md-3"> <%= render partial: 'shared/popularrepos' %> </div>
    </div>
  </div>


  <div class="userevents">
    <h6>Contribution Activity</h6>
    <br>
    <% if session[:user_id] != nil %>
    <% @user_events.each do |event| %>
    <%= link_to event.username %> <%= event.event_type %> <%= link_to event.repo_name %><br>
    <hr>
    <% end %>
    <% end %>
    <hr>
  </div>

</div>
