<div class="container">
  <div class="pinned-repos">
    <span><h6>Popular Repositories</span>
    <span class="customrepotext">Customize your pinned repos</span></h6>
    <% @popular_repos.each do |repo| %>
    <div class="card card-outline-secondary text-xs-center">
      <div class="card-block">
        <blockquote class="card-blockquote">
          <p class ="reponamepinned"> <%= link_to repo.name %>  </p>
          <% if repo.language == 'Ruby' %>
          <%= image_tag("circle_red.png", size:"12x12") %>
          <span class="repolangpinned"><%= repo.language %></span>
          <% else %>
          <%= image_tag("orange-icon.png", size:"12x12") %>
          <span class="repolangpinned"><%= repo.language %></span>
          <% end %>

        </blockquote>
      </div>
    </div>
    <% end %>
  </div>
</div>
