<nav class="sidenavbar navbar-light">
  <div class="nav navbar-nav float-*-left">
    <%= image_tag(current_user.profile_picture, size: "225x225", class: "userpic") %><br><br>
    <span class="usernametitle"><%= current_user.name %></span><br>
      <%= current_user.username %><br>
      <%= link_to "Add a bio" %>
      <hr>
      <%= image_tag("Location-512.png", size: "13x13") %>
      <%= current_user.location %><br>
      <%= image_tag("time-clock.png", size: "13x13") %> Joined on <%= current_user.joined_date.to_datetime.strftime("%b %d, %Y") %><br>
    </div>
    <hr>
    <h6><strong>Organizations</strong></h6>
    <% organizations.each do |org| %>
    <%= link_to image_tag(org.image, size: "20x20"), org.url %>
    <% end %>
  </nav>
</div>
