<div class="container"><br>
  <div class="homeindex">
    <br>
    <h2>Welcome to Github via MegHub</h2><br>
    <%= link_to "Login with Github here", "https://github.com/login/oauth/authorize?client_id=#{ENV['github_client_id']}&scope=repo" %>
  </div>

  <% if session[:user_id] != nil %>
  <div class="events">
    <h5>Recent Activity</h5>
    <br>
    <% @events.each do |event| %>
    <%= link_to event.username %> <%= event.event_type %> <%= link_to event.repo_name %><br>
    <span class="eventtime"><%= time_ago_in_words(event.created_at) %> ago</span>
    <hr>
    <% end %>
    <hr>
    <% end %>
  </div>
</div>
