
<div class="container">
  <div class="index-container">
    <div class="row">
      <div class="col-md-3"> <%= render partial: 'shared/sidenav' %></div>
      <div class="col-md-9 offset-md-3"> <%= render partial: 'shared/userprofilenav' %> </div>
      <div class="col-md-9 offset-md-3 repo-list">
        <div>

          <% @following.each do |following| %>
          <%= image_tag(following.profile_picture, size: "20x20") %>
            <span class="reponamelist"> <%= following.name %> <%= following.username %></span><br>
            <%= octicon "location" %><%= following.location %>

              <hr>
      <% end %>

    </div>
  </div>
<%= link_to "Logout", logout_path, method: :delete %>
</div>
