<div class="container">
  <div class="index-container">
    <div class="row">
      <div class="col-md-3"> <%= render partial: 'shared/sidenav' %></div>
      <div class="col-md-9 offset-md-3"> <%= render partial: 'shared/userprofilenav' %> </div>
      <div class="col-md-9 offset-md-3 repo-list">
        <div>
          <% @following.each do |following| %>
          <%= image_tag(following.profile_picture, size: "45x45") %>
          <span class="followsnamelist"> <%= following.name %> </span> <span class="followsuserlist"> <%= following.username %></span>
          <span class="unfollowbutton"><a class="btn btn-default unfollow" href="#" role="button"> Unfollow</a></span>
          <br>
          <span class="followslocation"><%= octicon "location" %> <%= following.location %></span>
          <hr>
          <% end %>
        </div>
      </div>
    </div>
